<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>


	<link rel="stylesheet" type="text/css" href="main1.css">

</head>

<body>
 	<div id="app">

	<div class="wrap" id="app">
		<div class="header row">

			<div class="img">
				<img src="1c9c0f93-6113-4b3f-adc6-96c0edf868f4.png" alt="Italian Trulli">
			</div>

			<div class=header-email>
				<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">info@tgi.nl</a>

			</div>
		</div>

		<div class="nav row">

<div class="navbar">

				<a href="home-starter-page.html">Home</a>
				<div class="dropdown">
					<button class="dropbtn">Congress113
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="house.html">House</a>
						<a href="senate-data.html">Senate</a>
					</div>
				</div>
            <div class="dropdown">
					<button class="dropbtn">Attendance
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="house_calculations.html">House</a>
						<a href="senate_calculations_att.html">Senate</a>
					</div>
				</div>
				
            <div class="dropdown">
					<button class="dropbtn">Loyalty
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="house_loyalty.html">House</a>
						<a href="senate_loya.html">Senate</a>
					</div>
				</div>
			</div>
		</div>
        <div class="content row">
		<div class="text row">
				What is Lorem Ipsum?
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>
		</div>


		<div class="filters row" id="app">
			<div class="checkbox">
			<div class="message">
             Please check a box!
			</div>
			    <label class="checkbox-inline">
				<input type="checkbox" id="democracy" name="Dem" value="Demo" @click="test"> Democrats<br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="rep" id="repu" value="repub" @click="test">Republicans<br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="ind" name="indep" value="Indepent" @click="test"> Ιndependent<br>
				</label>
			</div>
			<div class="states">
				<select id="select_states" @change="test">
				<option value="ALL">ALL</option>
				<option v-for="state in states" :value="state">{{ state }}</option>
			</select>
			</div>
		</div>



		<div class="table row">
			<table id="table">

				<tr>
					<th>Name</th>
					<th>Party</th>
					<th>State</th>
					<th>Seniority</th>
					<th>Percentage</th>
				</tr>
			
			   
			<tr v-for="member in filteredArray">

				<td>{{member.first_name}} {{member.midle_name}}{{member.last_name}} </td>
				<td>{{member.party}} </td>
				<td>{{member.state}} </td>
				<td>{{member.seniority}} </td>
				<td>{{member.votes_with_party_pct}} </td>



			</tr>
			
			
			</table>
		</div>
				<div class="footer row">

		argusDob@2018

	</div>
	</div>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="senate.js"></script>

</body>

</html>











